
@keyframes toLeft {
    0%{transform: scale(1);}
    20%{transform: scale(1.05);}
    30%{transform: scale(1.09);}
    40%{transform: scale(1.10);}
    100%{transform: scale(1);}
 }
 
 @keyframes changeSkew{
     0%{transform: skewX(0deg);}
     10%{transform: skewX(-10deg);}
     50%{transform: skewX(-20deg);}
     70%{transform: skewX(-25deg);}
     100%{transform: skewX(0deg);}
 }
 
 @keyframes bublleUp{
    0%{transform: translateY(5rem) skewX(10deg); opacity: 0;}
    80%{transform: translateY(-2rem) skewX(-10deg); opacity: .8;}
    100%{transform: translateY(0rem) skewX(0deg); opacity: 1;}
 }